<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("./common/header") %>

    <link href="../src/css/style.css" rel="stylesheet">
    <!-- <link href="../src/css/mypage.css" rel="stylesheet"> -->
    <link href="../src/css/common.css" rel="stylesheet">
    <link href="../src/css/result.css" rel="stylesheet">
    <link href="../src/css/loading.css" rel="stylesheet">
<style>
    #text{
        margin:0;
    }

</style>
</head>

<body>
    <div id="wrap">
        <header>
            <%- include ("./common/navbar") %>
        </header>
        <div>
            <div class="Large-header">
                <a href="/">
                    <p>CTA <smaller>Celeb's Tweet Analysis</smaller></p>
                </a>
            </div>
            <p class="small-header top-content">트위터 감성 분석 결과</p>
        </div>

    </div>

    <!-- 콘텐트 헤더 -->
    <div class="rectangle">
        <div class="inside-wrap">
            <p id="key" visibility: hidden><%- targetInfo.account -%></p>
            <!-- 프로필 들어갈 자리 -->
            <div id="profile">
                    <div id="figure">
                        <img class="profile-image" src="<%- targetInfo.image -%>">
                    </div>
                    <div id="text" class="content-body">
                        <p class="bold">Analysis Target : <%- targetInfo.name -%></p>
                        <p>Job <%- targetInfo.job -%></p>
                        <p style="margin:0">Twitter Account <%- targetInfo.account -%></p>
                    </div>
                    <div id="twitter-button" class="btn3">
                            <button onClick="location.href='https://twitter.com/<%- targetInfo.account -%>'">Go Twitter Now</button>
                    </div>
            </div> <!-- 프로필 끝 -->
        </div>
    </div><!-- 콘텐트 헤더 끝 -->

    <!-- 분석 결과 자리 -->
    <div id="wrap">
        <div id="contrainer">
            <div>
                <div class="content-header">
                    <p>트위터 문장 감성 비율</p>
                </div>
                <div id="chart">
                    <!-- 문장 비율 자리 -->
                </div>
                <!-- 문장 예시 자리 -->
                <div>
                    <div class="content-small-header">POSITIVE</div>
                    <div id="pos"></div>

                </div>
                <div>
                    <div class="content-small-header">NEGATIVE</div>
                    <div id="neg"></div>
                </div>
                <div>
                    <div class="content-small-header">NEUTRAL</div>
                    <div id="neu"></div>
                </div>
            </div>

            <div>
                <div class="content-header">
                    <p>Used Words in Twits</p>
                    <div id="wordsTop" class="content">
                        <div class="content-small-header">TOP 5 WORDS</div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- 공유하기 자리 -->
<!-- share result button -->
<ul class="snsList">
  
    <li>SNS 공유하기</li>
  
    <li><a href="#" id="vIconTw" onclick="return false;">트위터 공유하기<i class="vIconTw"></i></a></li>
  
    <li><a href="#" id="vIconTg" onclick="return false;">d<i class="vIconTg"></i></a></li>
  
    <li><a href="#" id="vIconFb" onclick="return false;">d<i class="vIconFb"></i></a></li>
  
    <li><a href="#" id="vIconKs" onclick="return false;">d<i class="vIconKs"></i></a></li>
  
</ul>
<script>
    $(window).ready(function(){ 
  
  $(".snsList li a").click(function(){
    alert("hello");
      shareAct(this);

  });

});

function shareAct(a){

  var snsCode = $(a).attr('id');
    
  var cUrl = "현재페이지 주소";

  switch(snsCode){

      case"vIconTw":
          //트위터
          cUrl = 'https://twitter.com/intent/tweet?text=페이지제목:&url='+cUrl;
      break;

      case"vIconTg":
          //텔레그램
          cUrl = 'https://telegram.me/share/url?url='+cUrl;
      break;
            
      case"vIconFb":
          //페이스북
          cUrl = 'http://www.facebook.com/sharer/sharer.php?u='+cUrl;
      break;

      case"vIconKs":
          //카카오스토리
          cUrl = 'https://story.kakao.com/share?url='+cUrl;
      break;

  }

  window.open(cUrl,'','width=600,height=300,top=100,left=100,scrollbars=yes');

}
</script>
<!-- Loading Spinner Wrapper-->
<div id="load" class="loader text-center">
    <div class="loader-inner">

        <!-- Animated Spinner -->
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        
        <!-- Spinner Description Text [For Demo Purpose]-->
        <h4 class="text-uppercase font-weight-bold">Loading</h4>
        <p class="font-italic text-muted">This loading window will be removed after few Seconds</p>
    </div>
</div>



    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="../src/js/chart.js"></script>

    <script>
        $(function () {
            key = $("#key").text();
            console.log(key);
            $.ajax({
                url: 'http://54.180.98.170:5000/result',
                data: {
                    account: key
                },
                method: 'get',
                dataType: 'json',
                success: function (res) {
                    console.log(res)
                    words = res.countWords.words //자주 쓰는 단어
                    counts = res.countWords.counts //자주 쓰는 단어별 빈도수 
                    ratio = res.sentiment.ratio //label 별 비율
                    sentences = res.sentiment.sentence
                    
                    console.log("비율 : ", res.sentiment.ratio);
                    chart.updateOptions({
                        series: [{
                            name: 'POSITIVE',
                            data: [ratio[0]]
                        }, {
                            name: 'NEGATIVE',
                            data: [ratio[1]]
                        }, {
                            name: 'NEUTRAL',
                            data: [ratio[2]]
                        }]
                    });

                    var msg_pos = '';
                    var msg_neg = '';
                    var msg_neu = '';
                    for (var i in sentences.pos) {
                        msg_pos += '<li>' + sentences.pos[i] + '</li>';
                        msg_neg += '<li>' + sentences.neg[i] + '</li>';
                        msg_neu += '<li>' + sentences.neu[i] + '</li>';
                    }

                    $('#pos').html('<ul>' + msg_pos + '</ul>');
                    $('#neg').html('<ul>' + msg_neg + '</ul>');
                    $('#neu').html('<ul>' + msg_neu + '</ul>');


                    var wordMsg = '';
                    for (var i in words) {
                        wordMsg += '<li>' + words[i] + '</li>';
                    }
                    $('#wordsTop').html('<ul>' + wordMsg + '</ul>'); //마우스 hover 시 개수 나타내야함
             
                    $('.loader').hide(300);//로딩이미지 hide
                },
                error: function (err) {
                    console.log("에러", err);
                }

            });

        });
    </script>

</body>

</html>