<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("./common/header") %>

    <link href="../src/css/style.css" rel="stylesheet">
    <link href="../src/css/common.css" rel="stylesheet">
    <link href="../src/css/result.css" rel="stylesheet">
    <link href="../src/css/loading.css" rel="stylesheet">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="http://54.180.98.170:8000">
    <meta name="twitter:title" content="Parade of Fans for Houston’s Funeral">
    <meta name="twitter:description" content="NEWARK - The guest list and parade of limousines with celebrities emerging from them seemed more suited to a red carpet event in Hollywood or New York than than a gritty stretch of Sussex Avenue near the former site of the James M. Baxter Terrace public housing project here.">
    <meta name="twitter:image" content="http://graphics8.nytimes.com/images/2012/02/19/us/19whitney-span/19whitney-span-articleLarge.jpg">
<style>
    #text{
        margin:0;
    }
    body{
        margin:0;
        padding:0;
        font-family: S-CoreDream-4Regular,sans-serif;
    }
    ul,ol{
        margin-top: 0;
        margin-bottom: 0;
    }

</style>
</head>

<body>
    <div id="wrap">
        <header>
            <%- include ("./common/navbar") %>
        </header>
        <div>
            <div class="Large-header">
                <a href="/">
                    <p>CTA <smaller>Celeb's Tweet Analysis</smaller></p>
                </a>
            </div>
            <p class="small-header top-content">트위터 감성 분석 결과</p>
        </div>

    </div>

    <!-- 콘텐트 헤더 -->
    <div class="rectangle">
        <div class="inside-wrap">
            <p id="key" visibility: hidden><%- targetInfo.account -%></p>
            <!-- 프로필 들어갈 자리 -->
            <div id="profile">
                    <div id="figure">
                        <img class="profile-image" src="<%- targetInfo.image -%>">
                    </div>
                    <div id="text" class="content-body">
                        <p class="bold">Analysis Target | <%- targetInfo.name -%></p>
                        <p><strong>Job</strong> | <%- targetInfo.job -%></p>
                        <p style="margin:0"><strong>Twitter Account</strong> | <%- targetInfo.account -%></p>
                    </div>
                    <div id="twitter-button" class="btn3">
                            <button onClick="location.href='https://twitter.com/<%- targetInfo.account -%>'">Go Twitter Now</button>
                    </div>
            </div> <!-- 프로필 끝 -->
        </div>
    </div><!-- 콘텐트 헤더 끝 -->

    <!-- 분석 결과 자리 -->
    <div id="content">
        <div class="result-wrap">
            <div>
                <div class="content-header">
                    <p>트위터 문장 감성 비율</p>
                </div>
                <div id="chart">
                    <!-- 문장 비율 자리 -->
                </div>
                <!-- 문장 예시 자리 -->
                <div>
                    <div class="content-small-header">POSITIVE</div>
                    <div class="box pos"></div>
                    <div id="pos" style="padding:10px 0px 30px 0px; color:rgb(69, 69, 80);"></div>

                </div>
                <div>
                    <div class="content-small-header">NEGATIVE</div>
                    <div class="box neg"></div>
                    <div id="neg" style="padding:10px 0px 30px 0px; color:rgb(69, 69, 80);"></div>
                </div>
                <div>
                    <div class="content-small-header">NEUTRAL</div>
                    <div class="box neu"></div>
                    <div id="neu" style="padding:10px 0px 30px 0px; color:rgb(69, 69, 80);"></div>
                </div>
            </div>
        </div>
    <div class="result-wrap">
        <div style="border-top: 1px solid rgb(180, 180, 187)"></div>
        <div class="content-header2">
            <p>Used Words in Twits</p>
        </div>

        <!-- Used Words -->
        <div style="display:inline-flex">
            <!-- word cloud -->
            <div style="width: 100%; height: 500px;display: table-cell;">
                <div id="graph" style="display:inline-block"></div>

            </div>
            <!-- TOP 5 words -->
            <div class="right-wrap"> 
                <div>
                    <div class="content-small-header">TOP 5 WORDS</div>
                    <div id="word-list">
                        <div id="wordsTop" class="content top-content"></div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div><!-- word result wrap 끝 -->
    
    <!-- share result button -->
    <div class="result-wrap" style="min-height: 200px;">
        <button id="shareBtn" class="btn btn2" style="background: rgb(138, 133, 241);">SHARE RESULT</button>
        <p style="text-align: center; line-height: 2em;">프로그램 관련 제안 및 문의사항을 보내주세요.</br>
            <a href="mailto:uknowsj@gmail.com"><strong>문의하기</strong></a>
        </p>
    </div>

</div>


<script>
    $(window).ready(function(){ 
  
  $(".snsList li a").click(function(){
    alert("hello");
      shareAct(this);

  });
  $("#shareBtn").click(function(){
    alert("hello");
      shareAct();

  });

});

function shareAct(){

//   var snsCode = $(a).attr('id');
var text = `<h2>안녕하세요</h2>`
  var cUrl = "http://54.180.98.170:8000/";

          //트위터
          cUrl = 'https://twitter.com/intent/tweet?text='+text+':&url='+cUrl;




  

  window.open(cUrl,'','width=600,height=300,top=100,left=100,scrollbars=yes');

}
</script>
<!-- Loading Spinner Wrapper-->
<div id="load" class="loader text-center">
    <div class="loader-inner">

        <!-- Animated Spinner -->
        <div class="lds-roller">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        
        <!-- Spinner Description Text [For Demo Purpose]-->
        <h4 class="text-uppercase font-weight-bold">Loading</h4>
        <p class="font-italic text-muted">This loading window will be removed after few Seconds</p>
    </div>
</div>



    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="../src/js/chart.js"></script>

    <!-- word cloud -->
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://rawgit.com/jasondavies/d3-cloud/master/build/d3.layout.cloud.js" type="text/JavaScript"></script>
    <script src="../src/js/wordcloud.js"></script>

    <script>
        $(function () {
            key = $("#key").text();
            console.log(key);
            $.ajax({
                // url: 'http://localhost:5000/result',
                url: 'http://54.180.98.170:5000/result',
                data: {
                    account: key
                },
                method: 'get',
                dataType: 'json',
                success: function (res) {
                    console.log(res)
                    words = res.countWords.words //자주 쓰는 단어
                    counts = res.countWords.counts //자주 쓰는 단어별 빈도수 
                    ratio = res.sentiment.ratio //label 별 비율
                    sentences = res.sentiment.sentence
     
                    chart.updateOptions({
                        series: [{
                            name: 'POSITIVE',
                            data: [ratio[0]]
                        }, {
                            name: 'NEGATIVE',
                            data: [ratio[1]]
                        }, {
                            name: 'NEUTRAL',
                            data: [ratio[2]]
                        }]
                    });

                    var msg_pos = '';
                    var msg_neg = '';
                    var msg_neu = '';
                    for (var i in sentences.pos) {
                        msg_pos += '<li>' + sentences.pos[i] + '</li>';
                        msg_neg += '<li>' + sentences.neg[i] + '</li>';
                        msg_neu += '<li>' + sentences.neu[i] + '</li>';
                    }

                    $('#pos').html('<ul class="list-content">' + msg_pos + '</ul>');
                    $('#neg').html('<ul class="list-content">' + msg_neg + '</ul>');
                    $('#neu').html('<ul class="list-content">' + msg_neu + '</ul>');


                    var wordMsg = '';
                    for (var i in words) {
                    
                        wordMsg += '<div><div class="box black"></div>'+'<li style="display:inline-block;vertical-align: center;">' + words[i] + '</li></div>';
                    }

                    $('#wordsTop').html('<ul>' + wordMsg + '</ul>'); //마우스 hover 시 개수 나타내야함


                    // 워드클라우드 데이터
                    wordsdata = res.countWords.all_worlds; //사용된 단어중 100개
                    var wordList=[];
                    for(i in wordsdata){
                        var ob = {text:wordsdata[i][0],frequency:wordsdata[i][1]};
                        wordList.push(ob);
                    }
                    wordCloud(wordList);
                    
                    //로딩이미지 hide
                    $('.loader').hide(300);
                },
                error: function (err) {
                    console.log("에러", err);
                }

            });

        });
    </script>

</body>

</html>